== form_for(@services) do |f|
    p Introduzca nuevo precio para el servicio: #{@services.description}
	== f.text_field :price, autofocus: true, placeholder: "Introduzc a nuevo precio" 
	== f.submit "Aceptar" 


	