<div class="section">
    <div class="container">
    	<div class="row">
    		<div class="col-md-4 col-sm-6">
    			<div class="service-wrapper">
        			<i class="fa fa-pencil-square-o" style="font-size: 7em;"></i>
        			<h3>Nueva orden</h3>
        			<p>Realize una orden de forma sencilla.</p>
        			<%= link_to 'Continuar', {controller: :orders, action: :new}, class: "btn"%>
        		</div>
    		</div>
    		<div class="col-md-4 col-sm-6">
    			<div class="service-wrapper">
        			<i class="fa fa-file-text-o" style="font-size: 7em;"></i>
        			<h3>Ordenes realizadas</h3>
        			<p>Registro de ordenes pendientes por pagar.</p>
        			<%= link_to 'Continuar', {controller: :orders, action: :show}, class: "btn"%>
        		</div>
    		</div>
    		<div class="col-md-4 col-sm-6">
    			<div class="service-wrapper">
        			<i class="fa fa-usd" style="font-size: 7em;"></i>
        			<h3>Ordenes pagadas</h3>
        			<p>&nbsp;&nbsp;Registro de ordenes concretadas. &nbsp;&nbsp;</p>
        			<%= link_to 'Continuar', {controller: :orders, action: :show_pagadas}, class: "btn"%>
        		</div>
    		</div>
    	</div>
    </div>
</div>