<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	<% if !resource.errors.empty? %>
		<div class="container">
		    <div class="alert alert-warning" id="underheader"> 
		      <%= devise_error_messages! %>
		    </div>
		</div>
  	<%end%>
  	<div class="section">
    	<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="basic-login">
						<form>
							<div class="form-group">
	        				 	<label for="restore-email"><i class="icon-envelope"></i> <b>Introduzca su Email</b></label>
								<%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
							</div>
							<div class="form-group">
								<%= f.submit "Enviar instrucciones", class: "btn pull-right" %>
								<div class="clearfix"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row" style="height: 75px"></div>
		</div>
	</div>
<% end %>

<script type="text/javascript">
  $(function(){
    $('.section-breadcrumbs').find('h1').text('Recuperacion de contraseña');
  })
</script>
