<p>Hola <%= @resource.email %>!</p>

<p>Alguien a realizado una solicitud para cambiar tu contrase単a. Puedes hacerlo en el enlace de abajo.</p>

<p><%= link_to 'Cambiar contrase単a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitates cambio de contrase単a por favor ignora este email.</p>
<p>Tu contrase単a no cambiara hasta que accedas al enlace y generes una nueva.</p>
